<?xml version="1.0" encoding="utf-8"?>
<jnlp
    spec="$jnlpspec"
    codebase="$$codebase"
    context="$$context"
    href="$$name">
  <information>
    <title>$project.Name</title>
    <vendor>$project.Organization.Name</vendor>
    <homepage href="$project.Url"/>
    <description>$project.Description</description>
    <icon href="../images/appicon.png"/>
    <shortcut online="true">
	<desktop/>
	<menu submenu="Versality"/>
    </shortcut>
  </information>
#if($allPermissions)
  <security>
     <all-permissions/>
  </security>
#end
  <resources>
    <j2se href="http://java.sun.com/products/autodl/j2se" version="$j2seVersion" initial-heap-size="130m" max-heap-size ="320m"/>
     $dependencies
  </resources>
  <application-desc main-class="$mainClass"/>
</jnlp>

